body {
    display: flex;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0px;
    padding:0px;
}

ul {
    display:flex;
    gap:25px;
    margin-right:200px;
}

li {
    list-style: none;
    color:#F9FAF8;
}

h1 {
    font-size:48px;
    font-weight: 800;
    color:#F9FAF8;
}

h2 {
    font-size: 36px;
    font-weight:800;
    color:#1F2937;
    display:flex;
    justify-content: center;
    padding-top:30px;
}

h3 {
    font-size:25px;
    color:white;
}

img {
    width:150px;
    height:150px;
}

.header {
    background-color:#1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color:#F9FAF8;
    margin-left:200px;
}

.sign-up-header {
    background-color:#3882F6;
    border-color:white;
    border-radius:10px;
    color:white;
    font-size:15px;
    padding:10px;
    padding-right:20px;
    padding-left:20px;
    margin-top:15px;
}

.main-section {
    background-color:#1F2937;
    display:flex;
    align-items: center;
    padding:200px;
    justify-content: center;
}

.main-section-content {
    display:flex;
    gap:600px;
}

.secondary-text {
    font-size:18px;
    color:#F9FAF8;
    display: flex;
}

.container {
    flex-direction:row;
    display:flex;
    justify-content: space-between;
    text-align:center;
    gap:52px;
    padding:200px;
    margin-top:-180px;
}

.box-container-1 {
    display:flex;
    flex-direction:column;
    flex:1;
    margin-left:300px;
}

.box-container-2 {
    display:flex;
    flex-direction:column;
    flex:1;
}

.box-container-3 {
    display:flex;
    flex-direction:column;
    flex:1;
}

.box-container-4 {
    display:flex;
    flex-direction:column;
    flex:1;
    margin-right:300px;
}

.quote-section {
    background-color: #E5E7EB;
    padding:200px;
}

.quote-author {
    font-weight:bold;
    font-size:25px;
    margin-left:200px;
    padding-left:200px;
}

.quote-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:250px;
    margin-right:250px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color:#1F2937;
    display:flex;
}

.prompt-section {
    padding:150px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    background-color:#3882F6;
    display:flex;
    justify-content: space-between;
    padding-left:200px;
    padding-right:200px;
    padding-top:20px;
    padding-bottom:20px;
    border-radius:10px;
}

.prompt-left-container {
    display:flex;
    margin:50px
}

.prompt-right-container {
    display:flex;
    margin:50px;
}

.sign-up-cta {
    background-color:#3882F6;
    border-color:white;
    border-radius:10px;
    color:white;
    font-size:15px;
    padding:10px;
}

.prompt-text {
    color:white;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}



